@font-face {
  font-family: "Code Bold";
  src: url("../fonts/Code\ Bold.otf");
}

@font-face {
  font-family: "Code Pro Light";
  src: url("../fonts/Code\ Pro\ Light.otf");
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../fonts/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}

html,
body {
  color: var(--fontWhite);
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accentBgColor);
  font-family: "Ubuntu";
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

:root {
  --PBorange: #cb4b16;
  --PBwhite: #eee8d5;
  --fontWhite: white;
  --fontGrey: #afafaf;
  --fontBlack: black;
  --bgWhite: white;
  --bgGrey: #494949;
  --bgBlack: black;
  --shadowBlack: #00000080;
  --shadowWhite: #ffffff28;

  --accentBgColor: #1b2c44;
  --tintWhite: #ffffff6f;
  --tintBlack: #00000049;
  --windowColor: #202020;
  --taskbarColor: #1d1d1d;
  --regBtnColor: ;
  --windowOutlineColor: #606060;
  --windowElementColor: #3434348e;

  --alertRed: #ff3131;
  --desktopIconFill: #7bc4ff41;
  --desktopIconBorder: #7bb4ffb9;
  --desktopIconFillActive: #7bc4ff6f;
  --desktopIconBorderActive: #7bb4ff;
}

.background {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0
}

.loadingscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1B2C44;
  display: flex;
  z-index: 10000000;
  transition: 1s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loadingscreen video {
  width: 50vw;
  height: auto;
  max-width: 300px;
  user-select: none;
  display: none;
}

.loadingscreen img {
  width: 35vw;
  height: auto;
  max-width: 200px;
  user-select: none;
  /* display: none; */
}

.loadingscreen--safaricontainer {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loadingscreen .skip {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
  color: var(--shadowBlack);
  opacity: 0;
}

.loadingscreen .skip:hover {
  transition: 0.2s;
  background-color: var(--bgWhite);
  color: var(--accentBgColor);
}

@keyframes loadingFadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.taskbar {
  width: 100%;
  background-color: var(--taskbarColor);
  height: 40px;
  position: fixed;
  object-position: center center;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10001;
}

.taskbar>.taskbar--logo {
  padding: 5px;
  margin: 0 5px;
  width: 30px;
}

.taskbar a img,
.taskbar img {
  padding: 7.5px 10px;
  margin: 0 5px;
  width: 20px;
  user-select: none;
  cursor: pointer;
}

.taskbar--searchbar {
  outline: 3px solid var(--windowOutlineColor);
  background-color: var(--bgGrey);
  width: 300px;
  height: 34px;
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: flex-start;
}

.taskbar--searchbar img {
  margin: 0 5px;
  width: 20px;
}

.taskbar--searchbar p {
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  color: var(--fontGrey);
}

.taskbar--timer {
  margin: 0 10px;
  padding: 0;
  font-family: "Ubuntu Mono";
}

.desktopbtn--container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  margin: 10px;
  max-height: calc(100vh - 40px);
  flex-wrap: wrap;
  z-index: 1;
  padding-top: 10px;
}

.desktopbtn {
  margin-bottom: 20px;
  margin-right: 10px;
  width: 80px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid transparent;
}

.desktopbtn:hover {
  background-color: var(--desktopIconFill);
  outline: 1px solid var(--desktopIconBorder);
}

.desktopbtn:active {
  background-color: var(--desktopIconFillActive);
  outline: 1px solid var(--desktopIconBorderActive);
}

.desktopbtn--icon {
  width: 50px;
  margin: 0 15px;
  filter: drop-shadow(0 5px 2px var(--shadowBlack));
  user-select: none;
}

.desktopbtn--name {
  width: 100%;
  text-align: center;
  margin: 0;
  z-index: 50;
  font-size: 12px;
  text-shadow: 1px 1px 3px var(--shadowBlack), -1px -1px 3px var(--shadowBlack), 1px -1px 3px var(--shadowBlack), -1px 1px 3px var(--shadowBlack);
}

.notif--container {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: var(--windowColor);
  width: 300px;
  height: fit-content;
  z-index: 10000;
  box-shadow: 0 10px 20px var(--taskbarColor);
  transition: 0.5s;
}

.notif--main {
  height: fit-content;
  max-height: 75vh;
  width: auto;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 30px 25px 1fr;
  grid-template-columns: 1fr;
}

.notif--main h2 {
  margin: 10px;
  font-size: 20px;
}

.notif--main p {
  margin: 5px 10px;
  font-size: 15px;
}

.notif--list {
  overflow-y: auto;
}

.notif--list .notif--self {
  margin: 15px 5px 0;
  height: fit-content;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: var(--windowElementColor);
  border: 1px solid var(--windowOutlineColor);
}


.notif--heading {
  display: flex;
  height: fit-content;
  margin-bottom: 5px;
  align-items: center;
}

.notif--self hr {
  flex-grow: 1;
  margin: 1px 1px 10px;
}

.notif--self h4 {
  font-size: 15px;
  margin: 0;
}

.notif--self img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  user-select: none;
}

.notif--self p {
  margin: 5px;
}

.notif--self small {
  margin: 5px;
  margin-top: 15px;
  font-family: "Ubuntu Mono";
}

.homepage {
  height: calc(100vh - 25px);
  width: 100%;
  position: fixed;
  overflow-y: auto;
  margin: 0;
}

.titlescreen {
  width: 100%;
  height: calc(100vh - 40px);
  min-height: 600px;
  position: relative;
}

.titlescreen--title_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  margin: auto;
  user-select: none;
  z-index: 50;
}

.titlescreen--title_container>img {
  width: 200px;
}

.titlescreen--title_container>h1 {
  margin: 40px;
  font-size: 70px;
}


#h1_light {
  font-family: "Code Pro Light";
  font-weight: lighter;
  letter-spacing: -2.5px;
}

#h1_bold {
  font-family: "Code Bold";
}

.titlescreen--register {
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  text-align: center;
  bottom: 90px;
  font-size: 20px;
  position: absolute;
  padding: 20px;
  background-color: var(--shadowWhite);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

.titlescreen--register:hover {
  background-color: var(--bgWhite);
  color: var(--fontBlack);
}


.titlescreen--date {
  color: var(--PBorange);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bolder;
  bottom: 170px;
  font-size: 22px;
  font-family: "Ubuntu Mono";
  width: 90vw;
  text-align: center;
}

.titlescreen--downarrow {
  position: absolute;
  left: calc(50% - 20px);
  transform: translateX(-20px);
  bottom: 30px;
  width: 40px;
  opacity: 0.4;
  animation-name: idle_move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  user-select: none;
}

@keyframes idle_move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.home_infocards--container {
  height: fit-content;
  width: 85vw;
  margin: 0;
  padding: 100px 7.5vw;
  display: grid;
  grid-template: 2fr 1fr / 1fr 1fr;
  grid-gap: 25px;
}

.home_infocards--container>div {
  background-color: #00000049;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid var(--fontBlack);
  border-bottom: 10px solid var(--PBwhite);
}

.home_infocards--container>div:hover {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}

.home_infocards--2022:hover img,
.home_infocards--about:hover img,
.home_infocards--contact:hover img {
  width: 200px;
}

.home_infocards--container h2 {
  color: var(--PBwhite);
  font-size: 35px;
  font-family: "Ubuntu Mono";
  margin: 20px 0px;
}

a {
  color: var(--PBwhite);
  font-weight: bold;
}

a:hover {
  color: var(--PBorange);
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  opacity: 0.75;
}

.home_infocards--container>div p {
  padding: 0px;
  font-size: 16px;
  text-align: justify;
}

.home_infocards--contact {
  grid-column: span 2;
}

.home_infocards--container img {
  opacity: 0.5;
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
  user-select: none;
  transition: 0.3s;
}

.window {
  position: fixed;
  width: 55vw;
  height: 75vh;
  background-color: var(--windowColor);
  outline: 1px solid var(--windowOutlineColor);
  box-shadow: 0 7.5px 15px var(--shadowBlack);
  display: none;
}

.window--header {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 40px;
  border-bottom: 1px solid var(--windowOutlineColor);
  display: flex;
  align-items: center;
}

.window--header>* {
  margin: 0 10px;
  user-select: none;
}

.window--header h3 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

.window--header img {
  width: 30px;
  user-select: none;
}

.window--header .window--close {
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 12.5px 20px;
  transition: 0.2s;
}

.window--header .window--close:hover {
  background-color: var(--alertRed);
}

.window--content {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 40px;
  left: 0px;
}

.window--content>div {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 100%;
}

.explorer {
  display: grid;
  grid-template: 1fr / 120px auto;
}

.explorer--sidebar {
  border-right: 1px solid var(--windowOutlineColor);
  flex-direction: column;
  height: calc(100% - 20px);
  position: relative;
  padding: 10px;
  user-select: none;
}

.explorer--sidebar>div {
  align-items: center;
  display: flex;
}

.explorer--sidebar>div>p {
  font-size: 12px;
  margin-left: 5px;
}

.explorer--sidebar>div>img {
  width: 18px;
}

.explorer--foldergrid {
  display: flex;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  flex-wrap: wrap;
}

.explorer--foldergrid>div {
  margin-bottom: 10px;
  margin-right: 10px;
  width: min(130px, 10vw);
  cursor: pointer;
  outline: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: min(10px, 0.8vw);
}

.explorer--foldergrid>div:hover {
  background-color: var(--shadowWhite);
}

.explorer--foldergrid>div:active {
  background-color: var(--tintWhite);
}

.explorer--foldergrid>div>img {
  width: min(90px, 7vw);
  /* max-height: 90px; */
  margin: 0px 15px 20px;
  user-select: none;
}

.explorer--foldergrid>div>p {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: min(12px, 1vw);
  text-shadow: 1px 1px 3px var(--shadowBlack), -1px -1px 3px var(--shadowBlack), 1px -1px 3px var(--shadowBlack), -1px 1px 3px var(--shadowBlack);
}

.textfile {
  background-color: var(--bgWhite);
  color: var(--fontBlack);
  padding: 10px;
}

.textfile div {
  font-family: "Ubuntu Mono";
  white-space: pre-line;
  font-size: 20px;
}

.imageviewer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imageviewer img {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
}

.imageviewer a .downloadicon {
  margin: 10px;
  position: fixed;
  right: 25px;
  top: 35px;
  width: 25px;
  height: auto;
  padding: 15px;
  opacity: 0.6;
}

.imageviewer .downloadicon:hover {
  opacity: 1;
  background-color: var(--accentBgColor);
  backdrop-filter: blur(3px);
  box-shadow: 0 10px 20px var(--shadowBlack);
}

.team {
  background-color: transparent;
}

.team h2 {
  text-align: center;
  font-size: 50px;
  margin: 30px 0 10px;
  color: var(--PBorange);
}


.team--category {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  user-select: none;
}

.team--category img {
  width: 30px;
}

.team--category hr {
  flex-grow: 1;
  margin: 10px;
}

.team--category p {
  margin: 0;
}

.team--boardcore {
  display: flex;
  margin: 35px 30px;
}

.team--boardcore div {
  width: 70%;
}

.team--boardcore>img {
  width: min(150px, 10vw);
  height: min(150px, 10vw);
  margin-right: 30px;
  user-select: none;
}

.team--boardcore h1 {
  margin: 0;
  font-size: min(32px, 2.6vw);
}

.team--boardcore h3 {
  margin: 10px 0;
  font-weight: lighter;
  font-size: min(20px, 1.8vw);
  margin-bottom: 10px;
}

.team--boardcore hr {
  width: 50%;
  margin: 10px 0;
  background-color: var(--windowOutlineColor);
  border-color: transparent;
}

.team--boardcore p {
  font-style: italic;
  color: var(--fontGrey);
  font-size: min(16px, 1.3vw);
  margin: 0;
}

.team--membergrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 70px;
  grid-auto-flow: row;
  grid-gap: 10px;
  padding: 30px;
}

.team--membergrid p {
  display: flex;
  padding: 5px;
  border: 1px solid var(--fontWhite);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.events {
  padding: 10px;
}

.events h1 {
  text-align: center;
  color: var(--PBorange);
  z-index: 1000;
}

.events--bg {
  opacity: 0.25;
  position: absolute;
  width: auto;
  height: auto;
  max-height: 75%;
  max-width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.events--fieldscontainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  padding: 0;
  z-index: 1000;
}

.events--fieldscontainer div {
  height: min(200px, 15vw);
  margin: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--windowElementColor);
  border: 1px solid var(--windowOutlineColor);
  box-shadow: 0 10px 20px var(--shadowBlack);
  backdrop-filter: blur(5px);
  padding: min(20px, 1vw) 10px;
}

.events--fieldscontainer img {
  width: min(100px, 6vw);
  margin-bottom: 10px;
  user-select: none;

}

.events--fieldscontainer h2,
.events--fieldscontainer h3,
.events--fieldscontainer h4,
.events--fieldscontainer p {
  margin: 2px;
  text-align: center;
}

.events--fieldscontainer p {
  margin-bottom: auto;
  padding-bottom: 5px;
  font-size: min(16px, 1vw);
}

.events--fieldscontainer h2 {
  margin-top: 15px;
  font-size: 30px;
  font-size: min(26px, 1.7vw);
}

.events--fieldscontainer h3 {
  font-size: min(19px, 1.2vw);
}

.events--fieldscontainer h4 {
  font-size: min(17.5px, 1.02vw);
}

.events--desc {
  padding: 20px;
}

.contact {
  background-color: transparent;
  padding: 20px;
}

.contact h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: var(--PBorange);
}


.contact--grid {
  display: grid;
  grid-template-rows: 90px 1fr 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-columns: auto;
}

@media screen and (max-width: 1300px) {
  .contact--grid {
    grid-template-columns: 1fr;
  }
}

.contact--grid div {
  background-color: var(--windowElementColor);
  border: 1px solid var(--windowOutlineColor);
  box-shadow: 0 10px 20px var(--shadowBlack);
  padding: 10px;
  text-align: center;
}

.contact--grid div h2 {
  margin: 5px;
}

.contact--grid .contact--phone div {
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: var(--windowElementColor);
  border: 1px solid var(--windowOutlineColor);
  box-shadow: 0 10px 20px var(--shadowBlack);
}

.contact--grid .contact--phone div p:nth-child(1) {
  font-weight: bold;
}

.contact--grid div div {
  background-color: unset;
  border: unset;
  box-shadow: unset;
}

.contact--grid div div p {
  text-align: center;
  margin: 0px;
}

.contact--phone {
  grid-row: span 3;
}

.contact--socialgrid {
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(3, 50px) / 50px 175px;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact--socialgrid>* {
  text-align: left;
}

.contact--socialgrid img {
  width: 40px;
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar:hover {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb {
  background: rgb(76, 76, 76);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 127, 127);
}

::selection {
  background-color: var(--PBorange);
  color: var(--fontWhite);
}

.homepage::-webkit-scrollbar {
  width: 0px;
}

.homepage::-webkit-scrollbar-track {
  width: 0px;
}