@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/Segoe\ UI.ttf");
}

html,
body {
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 17, 50);
  font-family: "Segoe UI";
}

.taskbar {
  width: 100%;
  background-color: rgb(29, 29, 29);
  height: 40px;
  position: fixed;
  object-position: center center;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.taskbar>.taskbar--logo {
  padding: 5px;
  margin: 0 5px;
  width: 30px;
}

.taskbar a img,
.taskbar img {
  padding: 10px;
  margin: 0 5px;
  width: 20px;
}

.taskbar--searchbar {
  outline: 3px solid rgb(98, 98, 98);
  background-color: rgb(73, 73, 73);
  width: 300px;
  height: 34px;
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: flex-start;
}

.taskbar--searchbar img {
  margin: 0 5px;
  width: 20px;
}

.taskbar--searchbar p {
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  color: rgb(175, 175, 175);
}

.taskbar--timer {
  margin: 0 10px;
  padding: 0;
}

.desktopbtn--container {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  margin: 10px;
  max-height: calc(100vh - 40px);
  flex-wrap: wrap;
}

.desktopbtn {
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: chartreuse;
  width: 80px;
  position: relative;
  cursor: pointer;
}

.desktopbtn--icon {
  width: 50px;
  margin: 0 15px;
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.444));
}

.desktopbtn--name {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 12px;
  text-shadow: 0 0px 2px black;
}