@font-face {
  font-family: "Code Bold";
  src: url("./fonts/Code\ Bold.otf");
}

@font-face {
  font-family: "Code Pro Light";
  src: url("./fonts/Code\ Pro\ Light.otf");
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("./fonts/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf");
}

html,
body {
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #141e30, #243b55);
  font-family: "Ubuntu";
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

.background {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0
}

.loadingscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1B2C44;
  display: flex;
  z-index: 10000000;
  transition: 1s;
  justify-content: center;
  align-items: center;
}

.loadingscreen img {
  width: 50vw;
  height: 50vw;
  user-select: none;
  display: none;
}

@keyframes loadingFadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.taskbar {
  width: 100%;
  background-color: rgb(29, 29, 29);
  height: 40px;
  position: fixed;
  object-position: center center;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10001;
}

.taskbar>.taskbar--logo {
  padding: 5px;
  margin: 0 5px;
  width: 30px;
}

.taskbar a img,
.taskbar img {
  padding: 10px;
  margin: 0 5px;
  width: 20px;
  user-select: none;
  cursor: pointer;
}

.taskbar--searchbar {
  outline: 3px solid rgb(98, 98, 98);
  background-color: rgb(73, 73, 73);
  width: 300px;
  height: 34px;
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: flex-start;
}

.taskbar--searchbar img {
  margin: 0 5px;
  width: 20px;
}

.taskbar--searchbar p {
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  color: rgb(175, 175, 175);
}

.taskbar--timer {
  margin: 0 10px;
  padding: 0;
  font-family: "Ubuntu Mono";
}

.desktopbtn--container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  margin: 10px;
  max-height: calc(100vh - 40px);
  flex-wrap: wrap;
  z-index: 1;
  padding-top: 10px;
}

.desktopbtn {
  margin-bottom: 20px;
  margin-right: 10px;
  width: 80px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid rgba(123, 207, 255, 0);
}

.desktopbtn:hover {
  background-color: rgba(123, 196, 255, 0.255);
  outline: 1px solid rgba(123, 180, 255, 0.725);
}

.desktopbtn:active {
  background-color: rgba(123, 196, 255, 0.437);
  outline: 1px solid rgb(123, 180, 255);
}

.desktopbtn--icon {
  width: 50px;
  margin: 0 15px;
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.444));
  user-select: none;
}

.desktopbtn--name {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 12px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.400), -1px -1px 3px rgba(0, 0, 0, 0.400), 1px -1px 3px rgba(0, 0, 0, 0.400), -1px 1px 3px rgba(0, 0, 0, 0.400);
}

.notif--container {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: rgb(29, 29, 29);
  width: 300px;
  height: fit-content;
  z-index: 10000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  transition: 0.5s;
}

.notif--main {
  height: fit-content;
  max-height: 75vh;
  width: auto;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 30px 25px 1fr;
  grid-template-columns: 1fr;
}

.notif--main h2 {
  margin: 10px;
  font-size: 20px;
}

.notif--main p {
  margin: 5px 10px;
  font-size: 15px;
}

.notif--list {
  overflow-y: auto;
}

.notif--list .notif--self {
  margin: 15px 5px 0;
  height: fit-content;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: rgb(47, 47, 47);
  border: 1px solid rgb(82, 82, 82);
}


.notif--heading {
  display: flex;
  height: fit-content;
  margin-bottom: 5px;
  align-items: center;
}

.notif--self hr {
  flex-grow: 1;
  margin: 1px 1px 10px;
}

.notif--self h4 {
  font-size: 15px;
  margin: 0;
}

.notif--self img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  user-select: none;
}

.notif--self p {
  margin: 5px;
}

.notif--self small {
  margin: 5px;
  margin-top: 15px;
  font-family: "Ubuntu Mono";
}

.homepage {
  height: calc(100vh - 40px);
  width: 100%;
  position: fixed;
  overflow-y: auto;
  margin: 0;
}

.titlescreen {
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;
}

.titlescreen--title_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  margin: auto;
  user-select: none;
  z-index: 50;
}

.titlescreen--title_container>img {
  width: 200px;
}

.titlescreen--title_container>h1 {
  margin: 40px;
  font-size: 70px;
}


#h1_light {
  font-family: "Code Pro Light";
  font-weight: lighter;
  letter-spacing: -2.5px;
}

#h1_bold {
  font-family: "Code Bold";
}

.titlescreen--register {
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  text-align: center;
  bottom: 12.5vh;
  font-size: 20px;
  position: absolute;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.155);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

.titlescreen--register:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}


.titlescreen--date {
  color: #cb4b16;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bolder;
  bottom: 25vh;
  font-size: 22px;
  font-family: "Ubuntu Mono";
  width: 90vw;
  text-align: center;
  border-color: #dc6e20;
}

.titlescreen--downarrow {
  position: absolute;
  left: calc(50% - 20px);
  transform: translateX(-20px);
  bottom: 50px;
  width: 40px;
  animation-name: idle_move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  user-select: none;
}

@keyframes idle_move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.home_infocards--container {
  height: fit-content;
  width: 85vw;
  margin: 100px auto;
  display: grid;
  grid-template: 2fr 1fr / 1fr 1fr;
  grid-gap: 25px;
}

.home_infocards--container>div {
  background-color: #00000049;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid #000;
  border-bottom: 10px solid #eee8d5;
}

.home_infocards--container>div:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.266);
  transform: translateY(-10px);
}

.home_infocards--2022:hover img,
.home_infocards--about:hover img,
.home_infocards--contact:hover img {
  width: 200px;
}

.home_infocards--container h2 {
  color: #fcf7e3;
  font-size: 35px;
  font-family: "Ubuntu Mono";
  margin: 20px 0px;
}

a {
  color: #eee8d5;
  font-weight: bold;
}

a:hover {
  color: #cb4b16;
  font-weight: bold;
}

footer {
  text-align: center;
  margin: 20px;
  opacity: 0.5;
}

.home_infocards--container>div p {
  padding: 0px;
  font-size: 16px;
  text-align: justify;
}

.home_infocards--contact {
  grid-column: span 2;
}

.home_infocards--container img {
  opacity: 0.5;
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
  user-select: none;
  transition: 0.3s;
}

.window {
  position: fixed;
  width: 55vw;
  height: 75vh;
  background-color: rgb(32, 32, 32);
  outline: 1px solid rgb(96, 96, 96);
  box-shadow: 0 7.5px 15px rgba(0, 0, 0, 0.5);
}

.window--header {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 40px;
  border-bottom: 1px solid rgb(96, 96, 96);
  display: flex;
  align-items: center;

}

.window--header>* {
  margin: 0 10px;
}

.window--header h3 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

.window--header img {
  width: 30px;
  user-select: none;
}

.window--header .window--move {
  margin-left: auto;
  width: 20px;
  cursor: move;
  user-select: none;
}

.window--header .window--close {
  width: 15px;
  margin-right: 0px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.2s;
  user-select: none;
}

.window--header .window--close:hover {
  background-color: rgb(255, 85, 85);
}

.window--content {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 40px;
  left: 0px;
}

.window--content>div {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 100%;
}

.explorer {
  display: grid;
  grid-template: 1fr / 120px auto;
}

.explorer--sidebar {
  border-right: 1px solid rgb(96, 96, 96);
  flex-direction: column;
  height: calc(100% - 20px);
  position: relative;
  padding: 10px;
  user-select: none;
}

.explorer--sidebar>div {
  align-items: center;
  display: flex;
}

.explorer--sidebar>div>p {
  font-size: 12px;
  margin-left: 5px;
}

.explorer--sidebar>div>img {
  width: 18px;
}

.explorer--foldergrid {
  display: flex;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  flex-wrap: wrap;
}

.explorer--foldergrid>div {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 120px;
  cursor: pointer;
  outline: 1px solid rgba(123, 180, 255, 0);
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
}

.explorer--foldergrid>div:hover {
  background-color: rgba(255, 255, 255, 0.214);
}

.explorer--foldergrid>div:active {
  background-color: rgba(255, 255, 255, 0.437);

}

.explorer--foldergrid>div>img {
  width: 90px;
  max-height: 90px;
  margin: 0px 15px 20px;
  user-select: none;
}

.explorer--foldergrid>div>p {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 12px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.400), -1px -1px 3px rgba(0, 0, 0, 0.400), 1px -1px 3px rgba(0, 0, 0, 0.400), -1px 1px 3px rgba(0, 0, 0, 0.400);
}

.textfile {
  background-color: white;
  color: black;
  padding: 10px;
}

.textfile div {
  font-family: "Ubuntu Mono";
  white-space: pre-line;
  font-size: 20px;
}

.imageviewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageviewer img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.team {
  background-color: transparent;
}

.team h2 {
  text-align: center;
  font-size: 50px;
  margin: 30px 0 10px;
  color: #cb4b16;
}


.team--category {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  user-select: none;
}

.team--category img {
  width: 30px;
}

.team--category hr {
  flex-grow: 1;
  margin: 10px;
}

.team--category p {
  margin: 0;
}

.team--boardcore {
  display: flex;
  margin: 35px 30px;
}

.team--boardcore div {
  width: 70%;
}

.team--boardcore>img {
  width: 150px;
  height: 150px;
  margin-right: 30px;
  user-select: none;
}

.team--boardcore h1 {
  margin: 0;
}

.team--boardcore h3 {
  margin: 10px 0;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 10px;
}

.team--boardcore hr {
  width: 50%;
  margin: 10px 0;
  background-color: rgb(107, 106, 106);
  border-color: transparent;
}

.team--boardcore p {
  font-style: italic;
  color: lightgrey;
  margin: 0;
}

.team--membergrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 70px;
  grid-auto-flow: row;
  grid-gap: 10px;
  padding: 30px;
}

.team--membergrid p {
  display: flex;
  padding: 5px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.events {
  padding: 10px;
}

.events h1 {
  text-align: center;
  color: #cb4b16;
  z-index: 1000;
}

.events--bg {
  opacity: 0.25;
  position: absolute;
  width: auto;
  height: auto;
  max-height: 75%;
  max-width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.events--fieldscontainer {
  height: 300px;
  width: auto;
  display: flex;
  padding: 0 5px;
  z-index: 1000;
}

.events--fieldscontainer div {
  height: 100%;
  margin: 10px 5px;
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(52, 52, 52, 0.556);
  border: 1px solid rgb(82, 82, 82);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  backdrop-filter: blur(5px);
  padding: 20px 10px;
}

.events--fieldscontainer img {
  width: 100px;
  margin-bottom: 10px;
}

.events--fieldscontainer h2,
.events--fieldscontainer h3,
.events--fieldscontainer p {
  margin: 5px;
  text-align: center;
}

.events--fieldscontainer p {
  margin-bottom: auto;
}

.events--fieldscontainer h2 {
  margin-top: 15px;
  font-size: 30px;
}

.events--desc {
  padding: 20px;
}

.contact {
  background-color: transparent;
  padding: 20px;
}

.contact h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: #cb4b16;
}


.contact--grid {
  display: grid;
  grid-template: 90px 1fr 150px / 1fr 1fr;
  grid-gap: 20px;
}

.contact--grid div {
  background-color: rgb(52, 52, 52);
  border: 1px solid rgb(82, 82, 82);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  padding: 10px;
  text-align: center;
}

.contact--grid div h2 {
  margin: 5px;
}

.contact--grid .contact--phone div {
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: rgb(52, 52, 52);
  border: 1px solid rgb(82, 82, 82);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
}

.contact--grid div div {
  background-color: unset;
  border: unset;
  box-shadow: unset;
}

.contact--grid div div p {
  text-align: center;
  margin: 0px;
}

.contact--phone {
  grid-row: span 3;
}

.contact--socialgrid {
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(3, 50px) / 50px 175px;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact--socialgrid>* {
  text-align: left;
}

.contact--socialgrid img {
  width: 40px;
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb {
  background: rgb(76, 76, 76);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 127, 127);
}

::selection {
  background-color: #cb4b16;
  color: white;
}

.homepage::-webkit-scrollbar {
  width: 10px;
}

.homepage::-webkit-scrollbar-track {
  background: transparent;
}

.homepage::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.homepage::-webkit-scrollbar-thumb:hover {
  background: white;
}