/* Mobile Compatibility */
.mobile--navbar {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 50px;
  display: none;
  align-items: center;
  width: calc(100% - 40px);
  /* background-color: rgb(29, 29, 29); */
  background-color: #00040575;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  padding: 0 10px;
  z-index: 10001;
}

.mobile--navbar img {
  width: 25px;
}

.mobile--navbar img:nth-child(2) {
  width: 35px;
}

.mobile--shelf--container {
  position: fixed;
  bottom: 80px;
  left: 10px;
  right: 10px;
  height: 75px;
  z-index: 10000;
  width: calc(100% - 40px);
  transition: 0.3s;
}

.mobile--shelf {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(29, 29, 29); */
  background-color: #00040575;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 0 10px;
  overflow-x: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
}

.mobile--shelf .desktopbtn {
  margin-bottom: 0;
  border-radius: 7.5px;
}

.mobile--shelf .desktopbtn:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.566);
}

.mobile--shelf .desktopbtn:active {
  outline: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
}

.mobile--sidebar {
  position: fixed;
  bottom: 75px;
  top: 10px;
  right: -250px;
  height: auto;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 250px;
  max-width: calc(100% - 20px);
  /* background-color: rgb(29, 29, 29); */
  background-color: #031b20b3;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  overflow-x: auto;
  z-index: 10002;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  overflow: hidden;
}

.mobile--sidebar hr {
  width: 80%;
  margin: 5px auto;
}



@media all and (max-width: 900px) {


  .homepage {
    height: 100%
  }

  .taskbar {
    display: none;
  }

  .mobile--navbar,
  .mobile--shelf,
  .mobile--sidebar {
    display: flex;
  }

  .desktopbtn--container {
    display: none;
  }

  .desktopbtn {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }

  .desktopbtn--icon {
    width: 40px;
    margin: 0 10px;
  }

  .desktopbtn--name {
    font-size: 10px;
  }

  .notif--main {
    flex-basis: fit-content;
    border-radius: 5px;
    grid-gap: 2.5px;
    min-height: 200px;
    max-height: auto;
  }

  .notif--main h2 {
    margin: 5px 10px;
    font-size: 17.5px;
    text-align: center;
  }

  .notif--main p {
    margin: 0px 10px;
    font-size: 15px;
    text-align: center;
  }

  .notif--list .notif--self {
    margin: 5px 10px;
    padding: 7.5px;
    flex-direction: column;
    background-color: #5757574a;
    backdrop-filter: blur(12px);
    border: none;
    border-radius: 4.5px;
  }


  .notif--heading {
    display: flex;
    height: fit-content;
    margin-bottom: 5px;
    align-items: center;
  }

  .notif--self hr {
    flex-grow: 1;
    margin: 1px 1px 10px;
  }

  .notif--self h4 {
    font-size: 14px;
    margin: 0;
  }

  .notif--self img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .notif--self p {
    margin: 2.5px;
    font-size: 13px;
    text-align: left;
  }

  .notif--self small {
    margin: 2.5px;
    font-size: 11px;
    margin-top: 5px;
  }

  .taskbar--timer {
    margin: 10px;
  }

  .mobile--sidebar--social {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-evenly;
  }

  .mobile--sidebar--social img {
    width: 35px;
  }

  .mobile--sidebar--statusquo {
    margin-top: auto;
    padding: 10px;
  }


  .titlescreen--title_container {
    flex-direction: column;
    transform: translate(-50%, -40%);
    top: 40%;
  }

  .titlescreen--title_container img {
    width: 50vw;
    max-width: 200px;
    height: fit-content;
  }

  .titlescreen--title_container h1 {
    font-size: 8vw;
  }

  .titlescreen--date {
    font-size: 17.5px;
    bottom: 40px;
  }

  .titlescreen--downarrow {
    width: 30px;
    left: calc(50% - 15px);
    bottom: 10px;
  }

  .titlescreen--register {
    font-size: 13px;
    padding: 15px;
    width: 70%;

  }

  .titlescreen--register:hover {
    letter-spacing: initial;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.155);
  }

  .home_infocards--container {
    display: flex;
    flex-direction: column;
  }

  .home_infocards--container div {
    padding: 25px;
  }

  .home_infocards--container h2 {
    font-size: 25px;
  }

  .home_infocards--container>div p {
    font-size: 14px;
  }

  .home_infocards--container>div {
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.266);

  }

  .home_infocards--2022:hover img,
  .home_infocards--about:hover img,
  .home_infocards--contact:hover img {
    width: 150px;
  }

  .home_infocards--container>div:hover {
    transform: none;
  }

  .window {
    width: calc(100% - 20px);
    margin: 0 10px;
    height: calc(100% - 80px);
    /* bottom: 70px; */
    border-radius: 10px;
  }

  .window--header {
    height: 30px;
  }

  .window--header h3 {
    font-size: 10px;
  }

  .window--header img {
    width: 20px;
    user-select: none;
  }

  .window--move {
    display: none;
  }

  .window--header .window--close {
    margin-left: auto;
    border-radius: 0 10px 0 0;
    padding: 15px;
  }

  .window--content {
    height: calc(100% - 30px);
    top: 30px;
    border-radius: 0 0 10px 10px;
  }

  .explorer {
    display: block;
  }

  .explorer--sidebar {
    display: none;
  }

  .explorer--foldergrid {
    justify-content: space-evenly;
  }

  .explorer--foldergrid>div {
    margin-bottom: 0px;
    margin-right: 0px;
    min-width: 100px;
    flex: 1;
    cursor: pointer;
    outline: 1px solid rgba(123, 180, 255, 0);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
  }

  .explorer--foldergrid>div:hover {
    border-radius: 10px;
  }

  .explorer--foldergrid>div>img {
    width: 50px;
    max-height: 50px;
    margin: 0px 5px 10px;
    user-select: none;
  }

  .explorer--foldergrid>div>p {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 11px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.400), -1px -1px 3px rgba(0, 0, 0, 0.400), 1px -1px 3px rgba(0, 0, 0, 0.400), -1px 1px 3px rgba(0, 0, 0, 0.400);
  }

  .textfile {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 0 0 5px 5px;
  }

  .textfile div {
    font-family: "Ubuntu Mono";
    white-space: pre-line;
    font-size: 15px;
  }

  .team {
    background-color: transparent;
    width: 100%;
  }

  .team h2 {
    text-align: center;
    font-size: 25px;
    margin: 15px 0 5px;
    color: #cb4b16;
  }


  .team--category {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    user-select: none;
  }

  .team--category img {
    width: 20px;
  }

  .team--category hr {
    flex-grow: 1;
    margin: 10px;
  }

  .team--category p {
    margin: 0;
    font-size: 12px;
  }

  .team--boardcore--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .team--boardcore {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    flex: 1;

  }

  .team--boardcore div {
    width: 100%;
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }

  .team--boardcore>img {
    width: 125px;
    height: 125px;
    margin-right: 0px;
    user-select: none;
    border-radius: 5px;
  }

  .team--boardcore h1 {
    margin: 0;
    font-size: 17px;

  }

  .team--boardcore h3 {
    margin: 10px 0;
    font-weight: lighter;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .team--boardcore hr {
    width: 50%;
    margin: 10px auto;
    background-color: rgb(107, 106, 106);
    border-color: transparent;
  }

  .team--boardcore p {
    font-style: italic;
    color: lightgrey;
    margin: 0;
    font-size: 10px;
  }

  .team--membergrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-auto-rows: 60px;
    grid-auto-flow: row;
    grid-gap: 10px;

    padding: 30px;
  }

  .team--membergrid p {
    font-size: 13px;
    border-radius: 7.5px;
  }

  .events {
    padding: 10px;
  }

  .events h1 {
    text-align: center;
    color: #cb4b16;
    font-size: 25px;
    z-index: 1000;
  }

  .events--bg {
    opacity: 0.25;
    position: absolute;
    width: auto;
    height: auto;
    max-height: 75%;
    max-width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .events--fieldscontainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px;
  }

  .events--fieldscontainer div {
    margin: 5px;
    flex: 1;
    flex-basis: 100px;
    height: auto;
    width: calc(50% - 20px);
    border-radius: 5px;
  }

  .events--fieldscontainer img {
    width: 17.5vw;
    max-width: 80px;
    margin-bottom: 5px;
  }

  .events--fieldscontainer h2,
  .events--fieldscontainer h3,
  .events--fieldscontainer p {
    margin: 5px 0;
    text-align: center;
  }

  .events--fieldscontainer p {
    margin-bottom: auto;
    font-size: 12px;
  }

  .events--fieldscontainer h2 {
    font-size: 20px;
  }

  .events--fieldscontainer h3 {
    font-size: 15px;
  }

  .events--desc {
    padding: 5px;
    font-size: 14px;
  }

  .events--desc ul,
  .events--desc ol {
    padding-left: 20px;
  }


  .contact h1 {
    font-size: 25px;
  }

  .contact p {
    font-size: 14px;
  }

  .contact--grid {
    grid-template: repeat(3, auto) / 1fr;
    grid-gap: 10px;
  }

  .contact--grid div {
    border-radius: 5px;
  }

  .contact--grid div h2 {
    margin: 5px;
    font-size: 20px;
  }

  .contact--grid .contact--phone div {
    padding: 20px;
    text-align: center;
    margin: 10px;
    background-color: rgb(52, 52, 52);
    border: 1px solid rgb(82, 82, 82);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  }

  .contact--grid div div {
    background-color: unset;
    border: unset;
    box-shadow: unset;
  }

  .contact--grid div div p {
    text-align: center;
    margin: 0px;
  }

  .contact--phone {
    grid-row: span 3;
  }

  .contact--socialgrid {
    display: grid;
    grid-auto-flow: column;
    grid-template: repeat(3, auto) / 30px 150px;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .contact--socialgrid>* {
    text-align: left;
  }

  .contact--socialgrid img {
    width: 30px;
  }


  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-track:hover {
    background: rgb(53, 53, 53);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(76, 76, 76);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(127, 127, 127);
  }


}