/* Mobile Compatibility */
.mobile--navbar {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 50px;
  display: none;
  align-items: center;
  width: calc(100% - 40px);
  /* background-color: rgb(29, 29, 29); */
  background-color: #00040575;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  backdrop-filter: blur(12px);
  padding: 0 10px;
  z-index: 10001;
}

.mobile--navbar img {
  width: 25px;
}

.mobile--navbar img:nth-child(2) {
  width: 35px;
}

.mobile--shelf--container {
  position: fixed;
  bottom: 80px;
  left: 10px;
  right: 10px;
  height: 75px;
  z-index: 10000;
  width: calc(100% - 40px);
  transition: 0.3s;
}

.mobile--shelf {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(29, 29, 29); */
  background-color: rgba(142, 201, 60, 0.267);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 0 10px;
  overflow-x: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
}

.mobile--shelf .desktopbtn {
  margin-bottom: 0;
  border-radius: 7.5px;
}

.mobile--shelf .desktopbtn:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.566);
}

.mobile--shelf .desktopbtn:active {
  outline: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
}

.mobile--sidebar {
  position: fixed;
  bottom: 75px;
  top: 10px;
  right: -250px;
  height: auto;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 250px;
  max-width: calc(100% - 20px);
  /* background-color: rgb(29, 29, 29); */
  background-color: rgb(71, 175, 248);
  border-radius: 10px;
  overflow-x: auto;
  z-index: 10002;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.521);
  overflow: hidden;
}

.mobile--sidebar hr {
  width: 80%;
  margin: 5px auto;
}

@media all and (max-width: 900px) {
  .homepage {
    height: 100%
  }

  .taskbar {
    display: none;
  }

  .mobile--navbar,
  .mobile--shelf,
  .mobile--sidebar {
    display: flex;
  }

  .desktopbtn--container {
    display: none;
  }

  .desktopbtn {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }

  .desktopbtn--icon {
    width: 40px;
    margin: 0 10px;
  }

  .desktopbtn--name {
    font-size: 10px;
  }

  .notif--main {
    flex-basis: fit-content;
    background-color: rgb(16, 106, 148);
    border-radius: 5px;
    grid-gap: 2.5px;
    min-height: 200px;
    max-height: auto;
  }

  .notif--main h2 {
    margin: 5px 10px;
    font-size: 17.5px;
    text-align: center;
  }

  .notif--main p {
    margin: 0px 10px;
    font-size: 15px;
    text-align: center;
  }

  .notif--list .notif--self {
    margin: 5px 10px;
    padding: 7.5px;
    flex-direction: column;
    background-color: rgb(32, 55, 83);
    border: none;
    border-radius: 4.5px;
  }


  .notif--heading {
    display: flex;
    height: fit-content;
    margin-bottom: 5px;
    align-items: center;
  }

  .notif--self hr {
    flex-grow: 1;
    margin: 1px 1px 10px;
  }

  .notif--self h4 {
    font-size: 14px;
    margin: 0;
  }

  .notif--self img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .notif--self p {
    margin: 2.5px;
    font-size: 13px;
    text-align: left;
  }

  .notif--self small {
    margin: 2.5px;
    font-size: 11px;
    margin-top: 5px;
  }

  .taskbar--timer {
    margin: 10px;
  }

  .mobile--sidebar--social {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-evenly;
  }

  .mobile--sidebar--social img {
    width: 35px;
  }

  .mobile--sidebar--statusquo {
    margin-top: auto;
    padding: 10px;
  }


  .titlescreen--title_container {
    flex-direction: column;
    transform: translate(-50%, -40%);
    top: 40%;
  }

  .titlescreen--title_container img {
    width: 50vw;
    max-width: 200px;
    height: fit-content;
  }

  .titlescreen--title_container h1 {
    font-size: 8vw;
  }

  .titlescreen--date {
    font-size: 17.5px;
    bottom: 40px;
  }

  .titlescreen--downarrow {
    width: 30px;
    left: calc(50% - 15px);
    bottom: 10px;
  }

  .titlescreen--register {
    font-size: 13px;
    padding: 15px;
    width: 70%;

  }

  .titlescreen--register:hover {
    letter-spacing: initial;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.155);
  }

  .home_infocards--container {
    display: flex;
    flex-direction: column;
  }

  .home_infocards--container div {
    padding: 25px;
  }

  .home_infocards--container h2 {
    font-size: 25px;
  }

  .home_infocards--container>div p {
    font-size: 14px;
  }

  .home_infocards--container>div {
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.266);

  }

  .home_infocards--2022:hover img,
  .home_infocards--about:hover img,
  .home_infocards--contact:hover img {
    width: 150px;
  }

  .home_infocards--container>div:hover {
    transform: none;
  }

  .window {
    width: calc(100% - 20px);
    margin: 0 10px;
    height: auto;
    bottom: 70px;
    border-radius: 10px;
  }

  .window--move {
    display: none;
  }

  .window--close {
    margin-left: auto;
    border-radius: 0 10px 0 0;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-track:hover {
    background: rgb(53, 53, 53);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(76, 76, 76);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(127, 127, 127);
  }


}